@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Slider
<dl>
    <dt>Image</dt>
    <dd><img width="200" src="~/image/@Model.Image"/></dd>
    <dt>Left vertical text</dt>
    <dd>@Model.LeftVerticalText</dd>
    <dt>SupHeader</dt>
    <dd>@Model.SupHeader</dd>
    <dt>Header</dt>
    <dd>@Model.Header</dd>
    <dt>Description</dt>
    <dd>@Model.Description</dd>
</dl>
<div>
    <a class="btn btn-block btn-outline-success"  asp-area="Admin" asp-controller="Sliders" asp-action="Index">Back to Index</a>
    <a class="btn btn-block btn-outline-warning"  asp-area="Admin" asp-controller="Sliders" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>